* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


.caixa-maior {
    background-color: rgb(166, 166, 166);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-radius: 20px;
}

.caixa-maior #resultado {
    background-color: rgb(43, 24, 24);
    color: white;
    margin-bottom: 20px;
    text-align: center;
    width: 20%;
    height: 25px;
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs input {
    border-radius: 20px;
    padding: 5px;
}

button {
    margin-top: 20px;
    width: 50px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: gray;
    color: white;
    transition: 0.5s;
}

h1 {
    margin-bottom: 20px;
}

.botoes {
    display: flex;
    gap: 15px;
}